
{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended",
    "standard"
  ],
  "parserOptions": {
      "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "JSX": "readonly"
  },
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "ignorePatterns": ["postcss.config.js"]
}
